<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h2>Date: <%= @appointment.appointment_date %> </h2>
    </div>
    <div>
      <a href="#" onclick="back()" class="btn btn-primary btn-lg">Back</a>
    </div>
  </div>
  <hr />
  <div class="card">
    <div class="container">
      <br />
      <div class="row">
        <% @appointment.images.map do |image| %>
          <div class="col-md"> <%= image_tag url_for(image), class:"img-appointment" %> </div>
        <% end %> 
      </div>
    </div>
    <div class="card-body">
        <p class="card-text"><%= @appointment.observations %></p>
    </div>
  </div>
</div>
